.parallax {
  /* The image used */
  background-image: url('https://cdn.guidingtech.com/imager/media/assets/212753/Top-N-PUBG-Wallpapers-in-Full-HD-for-PC-and-Phone-2_4d470f76dc99e18ad75087b1b8410ea9.jpg?1546415462');

  
height:500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  
  
   
}


.centered{
    margin-left: 20%;
     
}




.navbar-brand
{
   
    width: 100%;
    left: 0;
    text-align: center;
   
}
.center {
  display: block;
  margin-left: 24%;
  margin-right: auto;
  width: 50%;
}
